<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
<!-- /* === 🌌 WELCOME TO ORBIT WP REMIX 🌌  === -->
<!-- *                      -->
<!-- *	  By : -->
<!-- * -->
<!-- *     ██████╗ ██████╗ ██████╗ ██╗████████╗    ████████╗██╗   ██╗██████╗ ███╗   ██╗███████╗██████╗  -->
<!-- *    ██╔═══██╗██╔══██╗██╔══██╗██║╚══██╔══╝    ╚══██╔══╝██║   ██║██╔══██╗████╗  ██║██╔════╝██╔══██╗ -->
<!-- *    ██║   ██║██████╔╝██████╔╝██║   ██║          ██║   ██║   ██║██████╔╝██╔██╗ ██║█████╗  ██████╔╝ -->
<!-- *    ██║   ██║██╔══██╗██╔══██╗██║   ██║          ██║   ██║   ██║██╔══██╗██║╚██╗██║██╔══╝  ██╔══██╗ -->
<!-- *    ╚██████╔╝██║  ██║██████╔╝██║   ██║          ██║   ╚██████╔╝██║  ██║██║ ╚████║███████╗██║  ██║ -->
<!-- *     ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚═╝   ╚═╝          ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝ -->
<!-- *           -->
<!-- *  AUTHOR : MOHAMED GUEYE [Orbit Turner] - Linkedin: www.linkedin.com/in/orbitturner - Email: orbitturner@orbitturner.com - Country: Senegal -->
<!-- *                              GITHUB : Orbit Turner    -   Website: http://orbitturner.com/  -->
<!-- */ -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Orbit Turner">
    <link rel="icon" th:href="@{images/favicon.ico}" />


    <title th:text="${pageTitle} + ' • &nbsp;'">SEN FORAGE - E-PLATFORM</title>
    
	<!-- Vendors Style-->
	<link rel="stylesheet" th:href="@{css/vendors_css.css}">
	  
	<!-- Style-->  
	<link type="text/css" rel="stylesheet" th:href="@{css/style.css}">
	<link type="text/css" rel="stylesheet" th:href="@{css/skin_color.css}">
     
  </head>

<body class="hold-transition dark-skin sidebar-mini theme-primary fixed" onload="titleMarquee()">
<div class="wrapper">

  <header class="main-header">
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top pl-30">
      <!-- Sidebar toggle button-->
	  <div>
		  <ul class="nav">
			<li class="btn-group nav-item">
				<a href="#" class="waves-effect waves-light nav-link rounded svg-bt-icon" data-toggle="push-menu" role="button">
					<i class="nav-link-icon mdi mdi-menu"></i>
			    </a>
			</li>
			<li class="btn-group nav-item">
				<a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link rounded svg-bt-icon" title="Full Screen">
					<i class="nav-link-icon mdi mdi-crop-free"></i>
			    </a>
			</li>			
			<li class="btn-group nav-item d-none d-xl-inline-block">
				<a href="#" class="waves-effect waves-light nav-link rounded svg-bt-icon" title="">
					<i class="ti-check-box"></i>
			    </a>
			</li>
			<li class="btn-group nav-item d-none d-xl-inline-block">
				<a href="calendar.html" class="waves-effect waves-light nav-link rounded svg-bt-icon" title="">
					<i class="ti-calendar"></i>
			    </a>
			</li>
		  </ul>
	  </div>
		
      <div class="navbar-custom-menu r-side">
        <ul class="nav navbar-nav">
        	<li class="btn-group nav-item welcome-message">
        		<a class="nav-link">Welcome :  👋🏿</a>
        	</li>
		  <!-- Search-Bar -->
	      <li class="search-bar">		  
			  <div class="lookup lookup-circle lookup-right">
			     <input type="text" name="s">
			  </div>
		  </li>			
		  <!-- Notifications -->
		  <li class="dropdown notifications-menu">
			<a href="#" class="waves-effect waves-light rounded dropdown-toggle" data-toggle="dropdown" title="Notifications">
			  <i class="ti-bell"></i>
			</a>
			<ul class="dropdown-menu animated bounceIn">

			  <li class="header">
				<div class="p-20">
					<div class="flexbox">
						<div>
							<h4 class="mb-0 mt-0">Notifications</h4>
						</div>
						<div>
							<a href="#" class="text-danger">Clear All</a>
						</div>
					</div>
				</div>
			  </li>

			  <li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu sm-scrol">
				  <li>
					<a href="#">
					  <i class="fa fa-users text-info"></i> Curabitur id eros quis nunc suscipit blandit.
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-warning text-warning"></i> Duis malesuada justo eu sapien elementum, in semper diam posuere.
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-users text-danger"></i> Donec at nisi sit amet tortor commodo porttitor pretium a erat.
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-shopping-cart text-success"></i> In gravida mauris et nisi
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-user text-danger"></i> Praesent eu lacus in libero dictum fermentum.
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-user text-primary"></i> Nunc fringilla lorem 
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-user text-success"></i> Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
					</a>
				  </li>
				</ul>
			  </li>
			  <li class="footer">
				  <a href="#">View all</a>
			  </li>
			</ul>
		  </li>	
		  
	      <!-- User Account-->
          <li class="dropdown user user-menu">	
			<a href="#" class="waves-effect waves-light rounded dropdown-toggle p-0" data-toggle="dropdown" title="User">
				<img th:src="@{images/avatar/1.gif}" src="images/avatar/1.gif" alt="">
			</a>
			<ul class="dropdown-menu animated flipInX">
			  <li class="user-body">
			  	
			  	 <a class="dropdown-item text-white" href="#"><i class="ti-user mr-2"></i> <span>Mohamed GUEYE </span></a>
			 	 <span class="dropdown-item text-white">Connected as : ${role}</span>
			 	 <div class="dropdown-divider"></div>
				 <a class="dropdown-item" th:href="@{/profile}"><i class="ti-user text-muted mr-2"></i> Profile</a>
				 <a class="dropdown-item" th:href="'mailto:orbitturner@orbitturner.com'"><i class="ti-headphone-alt text-muted mr-2"></i> Contact The Admin</a>
				 <a class="dropdown-item" th:href="@{/settings}"><i class="ti-settings text-muted mr-2"></i> Settings</a>
				 <div class="dropdown-divider"></div>
				 <a class="dropdown-item logout" th:href="@{/logout}" ><i class="ti-lock text-muted mr-2"></i> Logout</a>
			  </li>
			</ul>
          </li>	
		  <li>
              <a href="#" data-toggle="control-sidebar" title="Setting" class="waves-effect waves-light">
			  	<i class="ti-settings"></i>
			  </a>
          </li>
			
        </ul>
      </div>
    </nav>
  </header>
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">	
		
        <div class="user-profile">
			<div class="ulogo">
				 <a th:href="@{/home}" >
				  <!-- logo for regular state and mobile devices -->
					 <div class="d-flex align-items-center justify-content-center">					 	
						  <img th:src="@{images/logo-dark.png}" src="images/logo-dark.png" alt="">
						  <h3><b>Sen</b> Forage</h3>
					 </div>
				</a>
			</div>
        </div>
      
      <!-- ◾◾◾◾ sidebar menu ◾◾◾◾ -->
      <ul class="sidebar-menu" data-widget="tree" th:insert="'template/'+${role}+'.menu'::content">
		<!-- ======= SIDEBAR DEPENDING ON USER ROLE ======= -->
<!--		<c:import url="/WEB-INF/view/template/${sessionScope.actualUser.role.libelle}.menu.jsp"></c:import>-->
		<!-- ======= FIN SIDEBAR DEPENDING ON USER ROLE ======= -->
      </ul>
      <!-- ◾◾◾◾ end of sidebar menu ◾◾◾◾ -->
    </section>
	
	<div class="sidebar-footer">
		<!-- item-->
		<a th:href="@{/profile}" class="link" data-toggle="tooltip" title="" data-original-title="Profile" aria-describedby="tooltip92529"><i class="ti-user"></i></a>
		<!-- item-->
		<a th:href="@{/calendar}" class="link" data-toggle="tooltip" title="" data-original-title="Calendar"><i class="ti-calendar"></i></a>
		<!-- item-->
		<a th:href="@{/logout}" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="ti-lock"></i></a>
	</div>
  </aside>

  <!-- ◾◾◾◾ Content Wrapper. Contains page content ◾◾◾◾ -->
  <div class="content-wrapper">
	  <div class="container-full" th:insert="${view}::content">
		<!-- ======= CONTENU DE LA PAGE ======= -->

		<!-- ======= FIN CONTENU DE LA PAGE ======= -->
      </div>
   </div>
  <!-- ◾◾◾◾ /.content-wrapper ◾◾◾◾ -->
  
  <!-- ◾◾◾◾ NOTIFICATION / ALERTS ◾◾◾◾ -->
  <div class="d-none">
		<h4>Alert Full top </h4>
		<button class="btn btn-success btn-outline btn-sm showtop btn-block mb-15" id="alertUserCreated">Alert Top Full width</button>
		<!-- Start an Alert -->
	</div>
		<div class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-success myadmin-alert-top alerttop"> <i class="ti-user"></i> User Successfully Created <a href="#" class="closed">&times;</a> </div>
  <!-- ◾◾◾◾ END OF NOTIFICATION / ALERTS ◾◾◾◾ -->
  
  <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">Help</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" th:href="'https://orbitturner.com'" target="_blank">Report a Bug</a>
		  </li>
		</ul>
    </div>
	  &copy; 2020 <a th:href="'https://orbitturner.com'">ORBIT TURNER | FUTURIZE</a>. All Rights Reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar">
	  
	<div class="rpanel-title"><span class="pull-right btn btn-circle btn-danger"><i class="ion ion-close text-white" data-toggle="control-sidebar"></i></span> </div>  <!-- Create the tabs -->
    <ul class="nav nav-tabs control-sidebar-tabs">
      <li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab" class="active">Chat</a></li>
      <li class="nav-item"><a href="#control-sidebar-settings-tab" data-toggle="tab">Todo</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
          <div class="flexbox">
			<a href="javascript:void(0)" class="text-grey"><i class="ti-minus"></i></a>	
			<p>Users</p>
			<a href="javascript:void(0)" class="text-right text-grey"><i class="ti-plus"></i></a>
		  </div>
		  <div class="lookup lookup-sm lookup-right d-none d-lg-block">
			<input type="text" name="s" placeholder="Search" class="w-p100"/>
		  </div>
          <div class="media-list media-list-hover mt-20">
			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-success" href="#">
				<img th:src="@{images/avatar/1.jpg}" src="images/avatar/1.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Tyler</strong></a>
				</p>
				<p>Praesent tristique diam...</p>
				  <span>Just now</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-danger" href="#">
				<img th:src="@{images/avatar/2.jpg}" src="images/avatar/2.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Luke</strong></a>
				</p>
				<p>Cras tempor diam ...</p>
				  <span>33 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-warning" href="#">
				<img th:src="@{images/avatar/3.jpg}" src="images/avatar/3.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-primary" href="#">
				<img th:src="@{images/avatar/4.jpg}" src="images/avatar/4.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>			
			
			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-success" href="#">
				<img th:src="@{images/avatar/5.jpg}" src="images/avatar/5.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Tyler</strong></a>
				</p>
				<p>Praesent tristique diam...</p>
				  <span>Just now</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-danger" href="#">
				<img th:src="@{images/avatar/2.jpg}" src="images/avatar/2.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Luke</strong></a>
				</p>
				<p>Cras tempor diam ...</p>
				  <span>33 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-warning" href="#">
				<img th:src="@{images/avatar/3.jpg}" src="images/avatar/3.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-primary" href="#">
				<img th:src="images/avatar/4.jpg" src="images/avatar/4.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>Evan</strong></a>
				</p>
				<p>In posuere tortor vel...</p>
				  <span>42 min ago</span>
			  </div>
			</div>
			  
		  </div>

      </div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
          <div class="flexbox">
			<a href="javascript:void(0)" class="text-grey"><i class="ti-minus"></i></a>	
			<p>Todo List</p>
			<a href="javascript:void(0)" class="text-right text-grey"><i class="ti-plus"></i></a>
		  </div>
        <ul class="todo-list mt-20">
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_1" class="filled-in">
			  <label for="basic_checkbox_1" class="mb-0 h-15"></label>
			  <!-- todo text -->
			  <span class="text-line">Nulla vitae purus</span>
			  <!-- Emphasis label -->
			  <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
			  <!-- General tools such as edit or delete-->
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_2" class="filled-in">
			  <label for="basic_checkbox_2" class="mb-0 h-15"></label>
			  <span class="text-line">Phasellus interdum</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_3" class="filled-in">
			  <label for="basic_checkbox_3" class="mb-0 h-15"></label>
			  <span class="text-line">Quisque sodales</span>
			  <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_4" class="filled-in">
			  <label for="basic_checkbox_4" class="mb-0 h-15"></label>
			  <span class="text-line">Proin nec mi porta</span>
			  <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_5" class="filled-in">
			  <label for="basic_checkbox_5" class="mb-0 h-15"></label>
			  <span class="text-line">Maecenas scelerisque</span>
			  <small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 week</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_6" class="filled-in">
			  <label for="basic_checkbox_6" class="mb-0 h-15"></label>
			  <span class="text-line">Vivamus nec orci</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 1 month</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_7" class="filled-in">
			  <label for="basic_checkbox_7" class="mb-0 h-15"></label>
			  <!-- todo text -->
			  <span class="text-line">Nulla vitae purus</span>
			  <!-- Emphasis label -->
			  <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
			  <!-- General tools such as edit or delete-->
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_8" class="filled-in">
			  <label for="basic_checkbox_8" class="mb-0 h-15"></label>
			  <span class="text-line">Phasellus interdum</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_9" class="filled-in">
			  <label for="basic_checkbox_9" class="mb-0 h-15"></label>
			  <span class="text-line">Quisque sodales</span>
			  <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_10" class="filled-in">
			  <label for="basic_checkbox_10" class="mb-0 h-15"></label>
			  <span class="text-line">Proin nec mi porta</span>
			  <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
		  </ul>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
</div>
<!-- ./wrapper -->
  	
	<!-- GLOBAL APP JS -->
	<script th:src="@{js/vendor.min.js}" src="js/vendors.min.js"></script>
    <script th:src="@{assets/icons/feather-icons/feather.min.js}" src="assets/icons/feather-icons/feather.min.js"></script>
    
	 <th:block th:if="${view == 'home'}">
		<!-- Hompage JS -->
		<script th:src="@{assets/vendor_components/easypiechart/dist/jquery.easypiechart.js}" src="assets/vendor_components/easypiechart/dist/jquery.easypiechart.js"></script>
		<script th:src="@{assets/vendor_components/apexcharts-bundle/irregular-data-series.js}" src="assets/vendor_components/apexcharts-bundle/irregular-data-series.js"></script>
		<script th:src="@{assets/vendor_components/apexcharts-bundle/dist/apexcharts.js}" src="assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>
		<script th:src="@{js/pages/dashboard.js}" src="js/pages/dashboard.js"></script>
	 </th:block>
	 
	<th:block th:if="${#strings.contains(view, 'list') or #strings.contains(view, 'show')}">
	 	<!-- Data Tables JS -->
		<script th:src="@{assets/vendor_components/datatable/datatables.min.js}" src="assets/vendor_components/datatable/datatables.min.js"></script>
		<script th:src="@{js/pages/data-tables.js}" src="js/pages/data-table.js"></script>
	</th:block>
	<th:block th:if="${#strings.contains(view, 'create')}">
		<!-- FORMS JS -->
		<script th:src="@{assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js}" src="assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
		<script th:src="@{assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js}" src="assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
		<script th:src="@{assets/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js}" src="assets/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
		<script th:src="@{assets/vendor_components/select2/dist/js/select2.full.js}" src="assets/vendor_components/select2/dist/js/select2.full.js"></script>
		<script th:src="@{assets/vendor_plugins/input-mask/jquery.inputmask.js}" src="assets/vendor_plugins/input-mask/jquery.inputmask.js"></script>
		<script th:src="@{assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js}" src="assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
		<script th:src="@{assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js}" src="assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js"></script>
		<script th:src="@{assets/vendor_components/moment/min/moment.min.js}" src="assets/vendor_components/moment/min/moment.min.js"></script>
		<script th:src="@{assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js}" src="assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script th:src="@{assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}" src="assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
		<script th:src="@{assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js}" src="assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
		<script th:src="@{assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js}" src="assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js"></script>
		<script th:src="@{assets/vendor_plugins/iCheck/icheck.min.js}" src="assets/vendor_plugins/iCheck/icheck.min.js"></script>
		<script th:src="js/pages/advanced-form-element.js" src="js/pages/advanced-form-element.js"></script>
		<script th:src="js/pages/validation.js" src="js/pages/validation.js"></script>
    	<script th:src="js/pages/form-validation.js" src="js/pages/form-validation.js"></script>
	</th:block>
	<!-- Orbit Admin App -->
	<script th:src="js/template.js" src="js/template.js"></script>
    <script th:src="js/pages/toastr.js" src="js/pages/toastr.js"></script>
    <script th:src="js/pages/notification.js" src="js/pages/notification.js"></script>
	
	<th:block th:if="${userSuccess == true}">
			<script>
				$(document).ready(function() {
					$("#alertUserCreated").click();
				});
			</script>
	</th:block>
	<!-- Title Marquee -->
	<script type="text/javascript">
		let titleText = document.title;

		function titleMarquee() {

			titleText = titleText.substring(1, titleText.length)
					+ titleText.substring(0, 1);
			document.title = titleText;
			setTimeout("titleMarquee()", 450);
		}
	</script>
	
</body>
</html>
		